@model IQueryable<Product>

@foreach (var p in Model)
{
<div class="col-12" style="margin-top:100px;">
    <div class="col-4" style="float:left;">
        <div style="height:30px; margin-bottom:10px;"><h4>@p.Name</h4></div>
        <img src=@p.Image height="250" width="300" style="margin-bottom:20px;" />
        <br />
        <b>Description:</b>
        <div style="width:300px;height:50px; overflow:auto">@p.Description</div>
        <div style="height:100px">
            <span style="width:300px;"><b>Ingredient:</b>@p.Recipe</span>
            <br />
            <span><b>Price:</b>@p.Price</span>
            <br />
            <span><b>Category:</b>@p.Category</span>
        </div>
        <button class="btn btn-info" style="margin-bottom:50px;">Add Bill</button>
    </div>
</div>
}