@model IQueryable<Recipe>

@foreach (var p in Model)
{
    <div class="col-12 container">
        <div class="col-12">
            <div style="height:30px"><h4>@p.Name</h4></div>
            <img src=@p.Img height="250" width="300" />
            <br />
            <div style="height:100px">
                <b>Ingredient:</b>
                <span>@p.Ingredients</span>
                <br />
                <b>Price:</b>
                <span>@p.Description</span>
                <br />
                <b>Price:</b>
                <span>@p.Price</span>
                <br />
                <b>Category:</b>
                <span>@p.Category</span>
            </div>
            <div>
                <p>@p.RecipeIce</p>
            </div>
        </div>
    </div>
}